*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(254, 254, 254);
    position: relative;
}
.nav{
    background-color: rgb(16, 16, 161);
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    box-shadow: 0 2px 7px rgba(0,0,00.2);
}
.aligning{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.matumaini img{
    width: 120px;
    height: 120px;
    border-radius: 75px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    padding: 10px;
}

.links{
    margin: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.menubar{
    height: 50px;
    width: 50px;
    display:none;
}

.closebtn{
    float: right;
    margin: 2em;
    width: 2.5em;
    display: none;
}

.links ul{
    display: flex;
    list-style-type: none;
    margin: 5px;
}

.links ul li{
    margin: 15px;
    padding: 15px;
    color: #fff;
}

.links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
}

.livebtn{
    display: flex;
    background-color: rgb(234, 234, 119);
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.livebtn p{
    margin: 10px;
}

.searchform{
    margin: 35px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sautiheadline{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contctimg{
    background-image: url(static/image/radio.jfif);
    background-size: cover;
    object-fit: cover;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: introload 2.5s forwards;
    z-index: 0;
    position: relative;
}


@keyframes introload{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.contacttxt{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contact{
    color: #fff;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
}
.sendus{
    text-align: center;
    padding: 23px;
    background-color: rgba(255, 255, 255, 0.534);
}

form{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.name{
    display: flex;
    flex-direction: row;
}

.contactform{
    background-color:rgba(255, 255, 255, 0.534);
}

.form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 10px 25px;
    border: 1px solid black;
    font-size: 16px;
    color: black;
    transition: all 0.3s ease;
}

input{
    margin: 4px;
    padding: 15px;
}

button{
    display:inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

footer{
    background-color: rgb(10, 10, 137);
    height: 100%;
}
.background{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.alignfooter{
    display: flex;
    color: #fff;
}

.alignfooter img{
    height: 60px;
    width: 60px;
    padding: 5px;
    border-radius: 75px;
}

.alignfooter h4{
    padding-top: 10px;
    padding-left: 8px;
    font-weight: bold;
}

.aboutline{
    padding-left: 10px;
}

.aboutline ul{
    list-style: none;
}

.linning a{
    text-decoration: none;
    color: #fff;
}

.allgnfooter2 h4{
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
}

.alinetime p{
    color: #fff;

}

.footer3{
    display: flex;
    flex-direction: column;
}

.alignsocial h4{
    color: #fff;
}

.socialmedia img{
    height: 50px;
    width: 50px;
    border-radius: 75px;
}

.socialinks{
    justify-content: center;
}
.socialinks ul{
    list-style-type: none;
}

.copyright{
    padding: 15px;
    text-align: center;
}

.copyright h4{
    color: #fff;
}

@media(max-width:700px) {
    .newssection{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
        gap: 15px;
        justify-content: center;
        grid-auto-columns:max(250px);
        grid-column: 250px;
    }
    
    
    .newsheadlines:nth-of-type(1){
        border-radius: 15px;
        border: 1px solid;
        background-color: white;
        grid-column: 1;
    }
    .newsheadlines{
        grid-auto-columns: minmax(300px,auto);
    }
    .heading{
        font-family: 'Girassol';
        font-size: 25px;
        color: blue;
    }
    .links{
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgb(235, 201, 10);
        height: 100vh;
        width: 50%;
        z-index: 3;
        text-transform: uppercase;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        margin: 0;
        padding: 0;
        
    }
    li:hover{
        background-color: rgb(195, 170, 28);
    }
    li{
        margin-left: 8px;
    }
    .matumaini img{
        width: 80px;
        height: 80px;
        border-radius: 75px;
        justify-self: center;
        align-self: center;
        margin-top: 10px;
        padding: 10px;
    }

    .links ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 8em;
    }
    .links ul li a{
        margin: 15px;
        padding: 15px;
        color: black;
    }
    .livebtn{
        display: none;
    }
    .navalink a{
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: .75em 2em;
        display: block;
        width: 100%;
    }
    .closebtn{
        display: flex;
        flex-direction: column;
    }
    .menubar{
        height: 50px;
        width: 50px;
        margin-top: 20px;
        margin-left: 280px;
    }
    .aligning{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .searchform{
        margin: 35px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 95px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: none;
    }
    .swiper{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    
    .swiper-slide{
        width: 100%;
        height: 100%;
        
    }
    
    
    .swiper-slide img{
        width: 100%;
        height: 400px;
        object-fit: fill;
        background-size: cover;
    }
    .menubar{
        height: 50px;
        width: 50px;
        display: flex;
        margin-top: 20px;
        margin-left: 188px;
    }

    footer.background{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .background{
    margin: 0 auto;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
