*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(254, 254, 254);
    position: relative;
}
.nav{
    background-color: rgb(194, 11, 154);
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    box-shadow: 0 2px 7px rgba(0,0,00.2);
    height: 150px;
}
.aligning{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    justify-items: center;

}
.matumaini{
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.matumaini img{
    width: 180px;
    height: 180px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    padding: 10px;
}

.links{
    margin: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.menubar{
    height: 50px;
    width: 50px;
    display:none;
}

.closebtn{
    float: right;
    margin: 2em;
    width: 2.5em;
    display: none;
}

.links ul{
    display: flex;
    list-style-type: none;
    margin: 5px;
}

.links ul li{
    margin: 15px;
    padding: 15px;
    color: #fff;
    font-size: 20px;
}

.links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
}

.livebtn{
    display: flex;
    background-color: rgb(234, 234, 119);
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.livebtn p{
    margin: 10px;
}

.searchform{
    margin: 35px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sautiheadline{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.heading{
    font-family: 'Poppins';
    font-size: 32px;
    color: rgb(194, 11, 154);
    font-weight: bold;
}

.headline-border{
    color:rgb(194, 11, 154);
    border-block-start: 2px solid;
    justify-self: center;
    width: 300px;
}

.swiper{
    display: flex;
    justify-content: center;
    height: 500px;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    animation: introload 2.5s forwards;
    z-index: 0;
    position: relative;
    background-size: cover;
}

@keyframes introload{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


.sluliding{
    margin-top: 10px;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}


.swiper-slide img{
    width: 100%;
    object-fit: fill;
    height: 100%;

}
.content1{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: hidden;
}

.gridanimation{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px;
    margin-bottom: 28px;
    z-index: 1;
}

.whoarewe{
    margin-top: 22px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgb(0, 0,0,0.3);
    transform: translateX(-200%);
    transition: 1.5s ease-in-out;
}

.whoarewe:nth-of-type(even){
    transform: translateX(200%);
    transition: 1.5s ease-in-out;
}


.whoarewe.show{
    transform: translateX(0);
    transition: 1.5s ease-in-out;
}

.overhead{
    margin: 10px;
    padding: 8px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 25px;
    color: rgb(194, 11, 154); ;
}

.context{
    margin: 10px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 200;
}

.radioimg{
    margin-top: 22px;
    height: 400px;
    width: 1fr;
    transform:translateX(-200%) ;
    transition: 1.5s ease-in-out;
}

.radioimg:nth-of-type(even){
    transform: translateX(200%);
    transition: 1.5s ease-in-out;
}

.radioimg.show{
    transform: translateX(0);
    transition: 1.5s ease-in-out;
}

.radioimg img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.registrationbtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.registerbtn{
    background-color: rgb(194, 11, 154);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,00.2);
}

.register{
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bold;
}

.newsheadliner{
    margin-top: 25px;
    margin-left: 40px;
    padding: 20px;
}

.news{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Girassol';
}

.underline{
    color:black;
    border-block-start: 4px solid;
    justify-self: center;
    width: 150px;
}
.aligngrid{
    max-width: 1300px;
    margin: 0 auto;
}

.newssection{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 30px;
    gap: 15px;
    justify-content: center;
    grid-auto-rows: max(100);
}

.newssection a{
    text-decoration: none;
    color: black;
}

.firstimage{
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.firstimage:hover{
    filter: brightness(80%);
}

.newsheadlines:nth-of-type(1){
    border-radius: 15px;
    border: 1px solid;
    grid-column: 1 / 3;
    background-color: white;
    width: 100%;
}

.newsheadlines:nth-of-type(1):hover{
    box-shadow: 0 2px 10px rgba(0,0,00.2);
}

.headlinecontent{
    margin-top: 8px;
    padding: 10px;
}

.news1{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins';
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.contentsnews p{
    font-family: 'Poppins';
}

.nametime{
    display: flex;
}

.time{
    padding: 8px;
}

.underlinedsec1{
    border-left: 2px solid;
    color:black;
    height: 30px;
    padding-top: 5px;
    margin-top: 8px;
}

.jornalist{
    padding: 8px;
}

.newsheadlines:nth-of-type(2){
    display: grid;
    grid-template-rows:repeat(4,1fr) ;
    gap: 10px;
    
}

.newsheadlines:nth-of-type(3){
    display: grid;
    justify-content: center;
}

.flexnews{
    grid-auto-rows:minmax(400px,auto);
    border-radius: 15px;
    border: 1px solid;
    grid-row: minmax(300px,auto);
    background-color: #fff;
    width: 100%;
}

.flexnews:hover{
    box-shadow: 0 2px 10px rgba(0,0,00.2);
    
}

.flexnews .flexing img:hover{
    filter: brightness(80%);
}

.flexnews:nth-of-type(1){
    grid-row: 1/3;
}

.flexnews:nth-of-type(2){
    grid-row: 3/5;
}

.flexing{
    display: flex;
}

.flexing img{
    height: 178px;
    width: 140px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.secgrid{
    display: flex;
    flex-direction: column;
}

.underlinedsec{
    border-left: 2px solid;
    color:black;
    height: 30px;
    padding-top: 5px;
    margin-top: 8px;
}

.slide-container{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    flex-wrap: nowrap;
    width: 100%;
}

.slide-content{
    overflow: hidden;
    width: 100%;
}

.arrow{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
}

.listenlive{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.listenlive img{
    width: 200px;
    height: 100px;
}
.fifty-chars{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Poppins';
    font-size: 15px;
}
.fifty-chars1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
    font-family: 'Poppins';
    font-size: 15px;
}

.showname{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
}

.showtxt{
    font-family: 'Poppins';
    font-size: 10px;
}

.welcomesign{
    text-align: center;
    padding-top: 50px;
    background-color: rgba(245, 245, 245, 0.652);
}

.welcometxt p{
    font-size: 23px;
    padding: 10px;
    font-weight: bold;
}

.advertisement{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}


.card-header img{
    height: 230px;
    width: 230px;
    object-fit: cover;
}

.card-header{
    height: 230px;
}

.card-header1 img{
    height: 230px;
    width: 230px;
    object-fit: cover;
}

.card-header1{
    height: 230px;
}

.card-header2 img{
    height: 230px;
    width: 230px;
    object-fit: cover;
}

.card-header2{
    height: 230px;
}

.card-header3 img{
    height: 230px;
    width: 230px;
    object-fit: cover;
}

.card-header3{
    height: 230px;
}


.alined{
    background-color:#fff;
    padding-top: 10px;
    padding-bottom: 30px;
}

.bookbtn{
    justify-self: center;
    padding-top: 60px;
    
    justify-content: center;
    align-items: center;
}

.bookbtn1{
    background-color: purple;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,00.2);
    font-size: 15px;
    font-weight: bold;
}

.card-content{
    background-color: purple;
}

.card-content1{
    background-color: purple;
}

.card-content2{
    background-color: purple;
}

.card-content3{
    background-color: purple;
}

.card1{
    box-shadow: 0 2px 10px rgba(0,0,00.2);
    border-radius: 10px;
    height: 300px;
    width: 230px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
}

.card2{
    box-shadow: 0 2px 10px rgba(0,0,00.2);
    height: 300px;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.card3{
    box-shadow: 0 2px 10px rgba(0,0,00.2);
    height: 300px;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.card1 p{
    font-size: 20px;
    padding: 10px;
    color: #fff;
}

.card2 p{
    font-size: 20px;
    padding: 10px;
    color: #fff;
}

.card3 p{
    font-size: 20px;
    padding: 10px;
    color: #fff;
}


.animated-bg{
    background-image: linear-gradient(to right,#f6f7f8 0%,#edeef1 10%,#f6f7f8 20%,#f6f7f8 100%);
    background-size: 200% 100%;
    animation: bgpos 1s linear infinite;
}

.animated-bg-txt{
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}
.iframe{
    width: 1150px;
    padding-top: 10px;
    margin: 5px;
}
@keyframes bgpos{
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}
footer{
    background-color: rgb(194, 11, 154);
    height: 100%;
}
.background{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.alignfooter{
    display: flex;
    color: #fff;
}

.alignfooter img{
    height: 60px;
    width: 60px;
    padding: 5px;
    border-radius: 75px;
}

.alignfooter h4{
    padding-top: 10px;
    padding-left: 8px;
    font-weight: bold;
}

.aboutline{
    padding-left: 10px;
}

.aboutline ul{
    list-style: none;
}

.linning a{
    text-decoration: none;
    color: #fff;
}

.allgnfooter2 h4{
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
}

.alinetime p{
    color: #fff;

}

.footer3{
    display: flex;
    flex-direction: column;
}

.alignsocial h4{
    color: #fff;
}

.socialmedia img{
    height: 50px;
    width: 50px;
    border-radius: 75px;
}

.socialinks{
    justify-content: center;
}
.socialinks ul{
    list-style-type: none;
}

.copyright{
    padding: 15px;
    text-align: center;
}

.copyright h4{
    color: #fff;
}

p.assosiates{
    font-weight: bold;
    font-size: 18px;
    color: black;
}
@media(max-width:700px) {
    .gridanimation{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 23px;
    }
    .aligning{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    justify-items: center;

}
    .iframe{
        width: 285px;
        padding-top: 10px;
        margin: 5px;
        padding-left: 15px;
        display: flex;
        justify-self: center;
    }
    .newssection{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
        gap: 15px;
        justify-content: center;
        grid-auto-columns:max(250px);
        grid-column: 250px;
    }
    
    
    .newsheadlines:nth-of-type(1){
        border-radius: 15px;
        border: 1px solid;
        background-color: white;
        grid-column: 1;
    }
    .newsheadlines{
        grid-auto-columns: minmax(300px,auto);
    }
    .heading{
        font-family: 'Girassol';
        font-size: 25px;
        color: blue;
    }
    .links{
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgb(235, 201, 10);
        height: 100vh;
        width: 50%;
        z-index: 99999999999;
        text-transform: uppercase;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        margin: 0;
        padding: 0;
        
    }
    li:hover{
        background-color: rgb(195, 170, 28);
    }
    li{
        margin-left: 8px;
    }
    .matumaini img{
        width: 80px;
        height: 80px;
        border-radius: 75px;
        justify-self: center;
        align-self: center;
        margin-top: 10px;
        padding: 10px;
    }

    .links ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 8em;
    }
    .links ul li a{
        margin: 15px;
        padding: 15px;
        color: black;
    }
    .livebtn{
        display: none;
    }
    .navalink a{
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: .75em 2em;
        display: block;
        width: 100%;
    }
    .closebtn{
        display: flex;
        flex-direction: column;
    }
    .menubar{
        height: 50px;
        width: 50px;
        margin-top: 20px;
        margin-left: 280px;
    }
    .menubar{
        height: 50px;
        width: 50px;
        display: flex;
        margin-top: 20px;
        margin-left: 188px;
    }
    .aligning{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .searchform{
        margin: 35px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 95px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: none;
    }
    .swiper{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    
    .swiper-slide{
        width: 100%;
        height: 100%;
        
    }
    
    
    .swiper-slide img{
        width: 100%;
        height: 400px;
        object-fit: fill;
        background-size: cover;
    }
    .menubar{
        height: 50px;
        width: 50px;
        display: flex;
        margin-top: 20px;
        margin-left: 260px;
    }
    .menubar{
        height: 50px;
        width: 50px;
        display: flex;
        margin-top: 20px;
        margin-left: 200px;
    }

    .background{
    margin: 0 auto;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    .advertisement{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 20px;
        max-width: 1200px;
        margin: 0 auto;
        justify-items: center;
    }
    .align h3{
        padding-top: 200px;
        color: #fff;
        font-size: 20px;
    }
    .alined{
        background-color: whitesmoke;
        padding-top: 10px;
        padding-bottom: 30px;
        justify-content: center;
    }
    .bookbtn{
        justify-self: center;
        padding-top: 60px;
        padding-left: 120px;
    }
    .socialmedia img{
        height: 40px;
        width: 40px;
        border-radius: 75px;
    }
    .alignfooter img{
        height: 40px;
        width: 40px;
        padding: 2px;
        border-radius: 75px;
    }
    
}
.slide-container{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    flex-wrap: nowrap;
    width: 100%;
}

.slide-content{
    overflow: hidden;
    width: 100%;
}

.card-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    

}
.card45{
    border-radius: 25px;
    border: 1px solid;
    background-color: rgb(17, 17, 158);
    width: 300px;
    margin: 10px;
}

.cardimage{
    height: 260px;
    width: 300px;
}

.cardimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.cardtxt{
    margin:18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    justify-items: center;
}

.cardtxt p{
    color: #fff;
    font-size: 15px;
}